.footer {
    background-color: #252525;
    font-family: Lato;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footerContent {
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-top: 31px;
    padding-bottom: 80px;
    margin-left: 160px;
}

.footerContent a {
    color: inherit;
    text-decoration: none;
}

.footerContent a:hover {
    color: #9B9B9B;
}

.footerColumn {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footerColumn a {
    margin-bottom: 12px;
}

.footerColumnTitle {
    color: #9B9B9B;
    margin-bottom: 24px;
}

.newsletterInput {
    width: 256px;
    border-radius: 0;
    background-color: #3B3B3B;
    border-style: none;
    color: #717171;
    padding: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.newsletterButton {
    color: white;
    border-radius: 0;
    border-color: #8367D8;
    padding: 9px;
}
