.navbarContainer {
    margin: 0px;
    padding: 0px;
}

.navbar {
    background-color: white;
    text-transform: uppercase;
    font-family: Lato;
    margin-top: 40px;
}

.logo {
    width: 163px;
    height: 56px; 
    margin-top: 16px;
    margin-left: 180px;
    float: left;
}

.buttonsContainer {
    margin-top: 32px;
}

.buttonsContainer a {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #252525;
    text-decoration: none;
    margin-right: 25px;
}

.buttonsContainer a:hover {
    color: #8367D8;
}

.searchContainer {
    margin-top: 17px;
}

.searchBar {
    border: 1px solid #e3e3e3;
    border-right: none;
    height: 58px;
    width: 80%;
    font-family: Lato;
    padding: 20px;
}

.searchButton {
    border: 1px solid #e3e3e3;
    background-color: white;
    border-left: none;
    height: 58px;
    width: 58px;
}
