.pageHeader {
    margin-top: 17px;
}

.pageHeaderTitle {
    color: black;
    text-align: start;
    font-style: normal;
    font-size: 16px;
    background-color: #FCFCFC;
    height: 60px;
    width: 100%;
    padding: 18px 160px;
}

.pageContent {
    width: 1440px;
    margin: auto;
    padding-left: 90px;
    padding-right: 90px;
}