.pageHeader {
    background-color: #FCFCFC;
    height: 60px;
    width: 100%;
    margin-top: 17px;
}

.pageHeader p{
    color: black;
    float: left;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    padding: 18px 160px;
}

.pageContent {
    width: 1440px;
    margin: auto;
    text-align: center;
}