.sellPageContainer {
    margin-top: 40px;
    margin-bottom: 100px;
}

.switchContainer ul {
    list-style-type: none;
    padding: 0px;
}

.switchContainer li {
    display: inline;
    margin: 20px;
    color: #9B9B9B;
}

.activeSection {
    color: #8367D8!important;
}
