.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 738px;
    padding-bottom: 32px;
    border: 1px solid #d8d8d8;
    box-sizing: border-box;
    margin: 16px auto;
}

.formTitle {
    padding: 23px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    height: 75px;
    width: 100%;
    background-color: #FCFCFC;
}

.formSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 548px;
    height: 106px;
    margin-top: 32px;
}
  
.formInput {
    border: 1px solid #d8d8d8;
    box-sizing: border-box;
    padding: 18px 42px 18px 24px;
    width: 548px;
    height: 63px;
    background-color: #FCFCFC;
}

.buttonsContainer {
    width: 100%;
}
  
.nextButton {
    text-decoration: none;
    border: 3px solid #8367D8;
    background-color: inherit;
    padding: 12px 100px;
    font-weight: bold;
    font-size: 18px;
    color: #000;
    text-align: center;
    float: right;
    margin-right: 30px;
}

.backButton {
    text-decoration: none;
    border: 3px solid #D8D8D8;
    background-color: inherit;
    padding: 12px 100px;
    font-weight: bold;
    font-size: 18px;
    color: #000;
    text-align: center;
    float: left;
    margin-left: 30px;
}

.doneButton {
    text-decoration: none;
    border: 3px solid #8367D8;
    background-color: #8367D8;
    padding: 12px 100px;
    font-weight: bold;
    font-size: 18px;
    color: #FFF;
    text-align: center;
    float: right;
    margin-right: 30px;
}

.formText {
    margin-top: 48px;
}