.collapsibleCategory {
    width: 260px;
    background-color: #FFF;
    border: none;
    text-align: left;
    padding: 12px 24px;
    font-size: 16px;
}

.collapsibleCategoryActive {
    width: 260px;
    background-color: #FFF;
    border: none;
    text-align: left;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #8367D8;
}

.collapsibleCategory:hover {
    color: #8367D8;
}

.collapseIcon {
    float: right;
}

.subcategoriesContainer {
    text-align: left;
}
