.exploreMoreButton {
    width: 256px;
    height: 59px;
    background-color: #8367D8;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    border: none;
    margin: 100px 0px;
}

.sortAndViewContainer {
    display: flex;
    align-items: flex-start;
    margin-bottom: 32px;
}

.sortDropdown {
    padding: 12px 24px;
    font-size: 16px;
    border: 2px solid #D8D8D8;
}

.gridListSwitch {
    margin-right: 0px;
    margin-left: auto;
    margin-top: 10px;
}

.gridListButton{
    border: none;
    text-decoration: none;
    font-size: 16px;
    background-color: #FFF;
}

.gridListButton:hover{
    color: #8367D8;
}

.gridListButtonActive{
    border: none;
    text-decoration: none;
    font-size: 16px;
    background-color: #FFF;
    color: #8367D8;
}
